<ul class="site-toc">
    {{range .DirectoryItems}}
        <li>
            {{if .MarkdownFile}}
                <a href="#{{.MarkdownFile}}">{{.Title}}</a>
            {{else}}
                <p>{{.Title}}</p>
            {{end}}
        </li>
    {{end}}
</ul>