<!DOCTYPE html>
<html>
<head>
    <title>{{.LibraryName}}</title>
    <link rel="shortcut icon" href="{{.FaviconFileName}}" type="image/x-icon">
    <style>{{CSS "index/style.css"}}</style>
    <script>{{JS "index/script.js"}}</script>
    <script>{{JS "js/marked.min.js"}}</script>
    <script>{{JS "js/common.js"}}</script>
    <style>{{CSS "themes/default.css"}}</style>
    {{range .Extensions}} {{if .BuiltinCSS}}
        <style>{{CSSCode .BuiltinCSS}}</style>
    {{end}} {{end}}
    {{range .Extensions}} {{if .BuiltinJS}}
        <script>{{JSCode .BuiltinJS}}</script>
    {{end}} {{end}}
</head>
<body onload="loaded()" class="index">
<article class="markdown">

</article>
</body>
</html>