<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <style>{{CSS "index/style.css"}}</style>
    <style>{{CSS "themes/rellw.css"}}</style>
    <script>{{JS "index/script.js"}}</script>
    <script>{{JS "js/marked.min.js"}}</script>
    <script>{{JS "js/common.js"}}</script>
</head>
<body onload="loaded()" class="index">
<article class="markdown">

</article>
</body>
</html>