.site-toc {
    padding: 0;
    background: var(--background);
    color: var(--text-color);
}

.site-toc a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.site-toc p {
    margin: 0;
}

.site-toc li {
    list-style: none;
}

.site-toc ul {
    padding-left: 1em;
}

.site-toc hr{
    background: var(--primary-color);
    border: none;
    height: 2px;
}

.site-toc li.deep-1.has-child {
    border-top: var(--primary-color) 0.2em solid;
    padding: 0.3em;
}

.site-toc li.deep-1 > a,
.site-toc li.deep-1 > p {
    padding: 0.4em;
    margin: 0.1em;
}
.site-toc li.deep-1.has-child > a,
.site-toc li.deep-1.has-child > p {
    font-weight: bold;
}

.site-toc li.deep-2 > a,
.site-toc li.deep-2 > p{
    padding: 0.3em;
    margin: 0.1em;
}
.site-toc li.deep-2 > ul{
    border-left: var(--primary-color) 0.15em dotted;
    margin-left: 0.7em;
    padding-left: 0.3em;
}

.site-toc li.deep-3>a,
.site-toc li.deep-3>p{
    padding: 0.2em;
    margin: 0.1em;
}

.site-toc li.deep-3 {
    font-size: 0.9em;
}


.site-toc a:hover{
    border-radius: 0.2em;
    background: var(--primary-color-light);
    transition: background 0s;
}
.site-toc a {
    transition: background 0.2s;
}