<nav>
    <span class="navbar-left">
        <button>TOC</button>
    </span>
    <span class="navbar-center">
        <h3>随机文本测试用例</h3>
    </span>
    <span class="navbar-right">
        <button>Git</button>
    </span>
</nav>