/*ColorSets Light,Dark,Rellw*/
:root.color-set-dark {
    --text-color: #eee;
    --text-color-accent: #fff;
    --text-color-neutal: #ddd;

    --background: #333;
    --background-code: #555;
    --background-code-block: #555;
    --background-quote: #444;

    --primary-color: #e05353;
    --primary-color-vivid: #f32525;
    --primary-color-light: #9b3c3c;

    --secondary-color: #e549c4;
    --secondary-color-vivid: #ee00b6;

    --accent-color: #f6d226;

    --color-border: #aaa;
    --color-border-neutal: #ddd;
}

:root.color-set-rellw {
    --text-color: #042044;
    --text-color-accent: #0b356b;
    --text-color-neutal: #051731;

    --background: #ece7ba;
    --background-code: #d2cc96;
    --background-code-block: #d2cc96;
    --background-quote: #d5d3aa;

    --primary-color: #289b8a;
    --primary-color-vivid: #136aa1;
    --primary-color-light: #94c9d9;

    --secondary-color: #e57849;
    --secondary-color-vivid: #ee7f00;

    --accent-color: #f6d226;

    --color-border: #aaa;
    --color-border-neutal: #ddd;
}

:root.color-set-light {
    --text-color: #222;
    --text-color-accent: #000;
    --text-color-neutal: #444;

    --background: #fff;
    --background-code: #eee;
    --background-code-block: #eee;
    --background-quote: #eee;

    --primary-color: #e05353;
    --primary-color-vivid: #f32525;
    --primary-color-light: #ffd8d8;

    --secondary-color: #e549c4;
    --secondary-color-vivid: #ee00b6;

    --accent-color: #f6d226;

    --color-border: #aaa;
    --color-border-neutal: #ddd;
}


html {
    background: var(--background);
}

/*主页样式*/
body.index {
    background: var(--background);
    padding: 2em;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

body.index article {
    width: 70%;
    max-width: 50em;
    min-width: 20em;
}

body.index h1 {
    background: var(--primary-color);
    color: var(--background);
}

.markdown {
    font-size: var(--font-size);
    color: var(--text-color);
    padding-bottom: 30vh;
    margin: 0 auto;
    max-width: 700pt;
}

/*标题*/
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    color: var(--text-color-accent);
}

.markdown h1 {
    text-align: center;
    border-bottom: var(--primary-color-vivid) 0.1em solid;
    padding: 1.6em 1em;
    margin: 0;
}

.markdown h2 {
    margin-top: 2.6em;
    margin-bottom: 1em;
}

.markdown h2::after {
    margin-top: 0.2em;
    width: 3em;
    height: 0.1em;
    background: var(--primary-color-vivid);
    display: block;
    content: "";
}

/*行内代码*/
.markdown li code,
.markdown p code {
    font-size: var(--inline-code-font-size);
    background: var(--background-code);
    border-radius: var(--radius-small);
    border: 1px solid var(--color-border);
    padding: 0.06em 0.2em;
}

/*代码块*/
.markdown pre {
    padding: 1em;
    border-radius: var(--radius-big);
    background: var(--background-code-block);
    color: var(--text-color);
    overflow: auto;
}

/*引用*/
.markdown blockquote {
    background: var(--background-quote);
    margin: 0.5em;
    padding: 0.5em 1em;
    color: var(--text-color-neutal);
    border-left: solid 0.3em var(--primary-color);
}

/*超链接*/
.markdown a {
    color: var(--secondary-color);
    border-bottom: 0.1em var(--secondary-color) solid;
    text-decoration: none;
}

.markdown a:hover {
    border-color: var(--secondary-color-vivid);
}

.markdown a:visited {
    color: var(--secondary-color-vivid);
}

/*图片*/
.markdown img {
    max-width: calc(100vw - var(--sidebar-width) - 3em);
    margin: auto;
    display: block;
}
