<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Content</title>
    <style>
        .page-center {
            margin-left: calc(var(--sidebar-width) + var(--sidebar-resizer-width));
        }
        /* 定义滚动条的宽度和颜色 */
        ::-webkit-scrollbar {
            width: .6em;
            height: .4em;
        }

        ::-webkit-scrollbar-thumb:vertical {
            background: #00000000;
            border-right: solid 0.6em var(--main-color);
        }
        ::-webkit-scrollbar-thumb:horizontal {
            background: #00000000;
            border-bottom: solid 0.4em var(--main-color);
        }

        ::-webkit-scrollbar-track {
            background: #00000000;
        }
        ::-webkit-scrollbar-track:hover {
            background: #00000022;
        }

    </style>
</head>
<body>
{{template "sidebar/sidebar.gohtml" Dict "Content" "toc/toc.gohtml" "Data" .Directory}}
<div class="page-center">
    {{ template "article/article.gohtml" }}
</div>
</body>
</html>