<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Content</title>
    <style>
        .page-center {
            margin-left: calc(var(--sidebar-width) + var(--sidebar-resizer-width));
        }
    </style>
</head>
<body>
{{template "sidebar/sidebar.gohtml" Dict "Content" "toc/toc.gohtml" "Data" .Directory}}
<div class="page-center">
    {{ template "article/article.gohtml" }}
</div>
</body>
</html>