<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Content</title>
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        .page-center {
            margin-left: var(--sidebar-width);
        }
    </style>
    <script>{{JS "js/common.js"}}</script>
</head>
<body>
{{template "sidebar/sidebar.gohtml" Dict "Content" "toc/toc.gohtml" "Data" .Directory}}
<div class="page-center">
    {{ template "article/article.gohtml" }}
</div>
</body>
</html>