.markdown blockquote.admonish-obsidian-style{
    padding: 0;
    background: var(--background-quote);
}
.markdown blockquote.admonish-obsidian-style .title{
    background: var(--primary-color);
    color: white;
    padding: 1em;
    font-weight: bold;
    margin: 0;
}

.markdown blockquote.admonish-obsidian-style .body{
    padding: .5em 1em;
}