:root {
    --main-color: #36b6d3;
    --hover-color: #36b6d366;
    --text-color: #1f1f1f;
    --background: #ffffff;
    --code-background: #e4e4e4;

    --font-size: 12pt;
    --inline-code-font-size: 12pt;
}

html {
    background: var(--background);
}

.markdown {
    font-size: var(--font-size);
    padding-bottom: 30vh;
    margin: 2em auto;
    max-width: 700pt;
}

.markdown h1 {
    text-align: center;
    border-bottom: var(--main-color) 0.1em solid;
    padding: 1.6em 1em;
}

.markdown h2 {
    margin-top: 2.6em;
    margin-bottom: 1em;
}

.markdown h2::after {
    margin-top: 0.2em;
    width: 3em;
    height: 0.1em;
    background: var(--main-color);
    display: block;
    content: "";
}

/*行内代码*/
.markdown li code,
.markdown p code {
    font-size: var(--inline-code-font-size);
    background: var(--code-background);
    border-radius: calc(var(--inline-code-font-size) * 0.15);
    border: 1px solid var(--main-color);
    padding: 0.06em 0.2em;
}

/*代码块*/
.markdown pre {
    padding: 1em;
    border-radius: .3em;
    background: #3d3d3d;
    color: white;
    overflow: auto;
}

/*引用*/
.markdown blockquote {
    background: #e5e5e5;
    margin: 0.5em;
    padding: 0.5em 1em;
    border-left: solid 0.3em #3d3d3d;
}

/*超链接*/
.markdown a {
    color: var(--main-color);
    border-bottom: 0.1em var(--main-color) solid;
    text-decoration: none;
}

.markdown a:hover {
    border-color: var(--hover-color);
}

.markdown a:visited {
    color: #368cd3;
}

/*图片*/
.markdown img{
    max-width: calc(100vw - var(--sidebar-resizer-width) - var(--sidebar-width) - 3em);
    margin: auto;
    display: block;
}