:root {
    --main-color: #36b6d3;
    --minor-color: #5cabbb;
    --hover-color: #36b6d366;
    --text-color: #1f1f1f;
    --background: #ffffff;
    --code-background: #e4e4e4;

    --font-size: 12pt;
    --inline-code-font-size: 12pt;

    --index-background: linear-gradient(180deg, rgb(229, 229, 229), rgb(229, 229, 229));
}

html {
    background: var(--background);
}

body.index {
    background: var(--index-background);
    padding: 2em;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}
body.index article{
    width: 70%;
    max-width: 50em;
    min-width: 20em;
}

body.index h1 {
    background: var(--main-color);
    color: var(--background);
}

.markdown {
    font-size: var(--font-size);
    padding-bottom: 30vh;
    margin: 0em auto;
    max-width: 700pt;
}

.markdown h1 {
    text-align: center;
    border-bottom: var(--main-color) 0.1em solid;
    padding: 1.6em 1em;
    margin: 0;
}

.markdown h2 {
    margin-top: 2.6em;
    margin-bottom: 1em;
}

.markdown h2::after {
    margin-top: 0.2em;
    width: 3em;
    height: 0.1em;
    background: var(--main-color);
    display: block;
    content: "";
}

/*行内代码*/
.markdown li code,
.markdown p code {
    font-size: var(--inline-code-font-size);
    background: var(--code-background);
    border-radius: calc(var(--inline-code-font-size) * 0.15);
    border: 1px solid var(--main-color);
    padding: 0.06em 0.2em;
}

/*代码块*/
.markdown pre {
    padding: 1em;
    border-radius: .3em;
    background: #262626;
    color: white;
    overflow: auto;
}

/*引用*/
.markdown blockquote {
    background: #00000011;
    margin: 0.5em;
    padding: 0.5em 1em;
    border-left: solid 0.3em #3d3d3d;
}

/*超链接*/
.markdown a {
    color: var(--main-color);
    border-bottom: 0.1em var(--main-color) solid;
    text-decoration: none;
}

.markdown a:hover {
    border-color: var(--hover-color);
}

.markdown a:visited {
    color: #368cd3;
}

/*图片*/
.markdown img {
    max-width: calc(100vw - var(--sidebar-resizer-width) - var(--sidebar-width) - 3em);
    margin: auto;
    display: block;
}

/*表格*/
.markdown table {
    border-collapse: collapse;
}

.markdown table tbody tr:hover {
    background: #e0e0e0;
}

.markdown table th,
.markdown table td {
    border-top: #b7b7b7 solid .1em;
    border-bottom: #b7b7b7 solid .1em;
}

.markdown table th {
    padding: 0.3em 1em;
    font-size: 0.9em;
    color: #737373;
}

.markdown table td {
    padding: 0.6em;
}

/* 定义滚动条的宽度和颜色 */
::-webkit-scrollbar {
    width: .6em;
    height: .4em;
}

::-webkit-scrollbar-thumb:vertical {
    background: #00000000;
    border-right: solid 0.6em var(--main-color);
}
::-webkit-scrollbar-thumb:horizontal {
    background: #00000000;
    border-bottom: solid 0.4em var(--main-color);
}

::-webkit-scrollbar-track {
    background: #00000000;
}
::-webkit-scrollbar-track:hover {
    background: #00000022;
}