<article id="markdown-content">
    <div class="markdown"></div>
    <div class="cover">
        <h1 class="loading">Loading ...</h1>
        <h1 class="notfound">404</h1>
    </div>
</article>

<script>{{JS "js/marked.min.js"}}</script>
<script>{{JS "article/script.js"}}</script>
<style>{{CSS "article/style.css"}}</style>
